Darshan/AGENTIC RAG.json
{
  "name": "AGENTIC RAG",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "69a34c50-521c-4fe5-912b-fddac6d12cd4",
      "name": "When chat message received",
      "webhookId": "0dbe205d-cad5-4951-ad13-102b3bdbf332"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=build a json:{\n\"type\":\"\",\n\"desc\":\"\"\n}\n1. If the user message asks about employee details, set type field in json to \"SQL\"\n2. If the user message asks about Patient_lab_record, set type field in json to \"MONGODB\" and set desc field in json to \"Patient_lab_record\"\n3.If the user message asks about Patient_lab_record, set type field in json to \"MONGODB\" and set desc field in json to \"Patient_demographic_record\"\n4. If the user message asks about some relationships, set type field in json to \"GRAPH\"\n5. If the user message asks about patient summary, set type field in json to \"CACHE\", and set the desc field in json to \"patient\".\n6. If the user message asks about appointments, set type field in json to \"CACHE\", and set the desc field in json to \"appointments\".\n7. If the user message asks about the policy, set the type field in json to \"VECTOR\"\nuser message:  {{ $json.chatInput }}\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "20fa7ea0-9d3e-42b9-b184-ac5b0ccd39b6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.type }}",
                    "rightValue": "SQL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7eab1c63-dcf2-4803-86c5-3df256c2feff"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cd5c6869-657e-4c51-93ae-9721ed3db015",
                    "leftValue": "={{ $json.output.type }}",
                    "rightValue": "MONGODB",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c034a433-dc0a-45fd-8703-eff16353029f",
                    "leftValue": "={{ $json.output.type }}",
                    "rightValue": "GRAPH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6186c7f0-57ee-4920-8ed8-c677446849e0",
                    "leftValue": "={{ $json.output.type }}",
                    "rightValue": "CACHE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1c515a6c-4bc9-4131-91d2-edda0a5e8a89",
                    "leftValue": "={{ $json.output.type }}",
                    "rightValue": "VECTOR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        -32
      ],
      "id": "822effbc-6685-4652-8391-0ea758ac7b7c",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "34ca7788-f1ba-44d6-8008-1fb297d18e2f",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "SEPUxXyLRCWJuzRq",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "hospital_employees",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1648,
        -496
      ],
      "id": "d3b91142-738a-48c7-8f32-35efd9e1a3b8",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "udXep33ZMpbBhV6C",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "collection": "Patient_lab_records",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        1648,
        -320
      ],
      "id": "96d90341-245e-4c57-8990-638f4b825aaa",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "NPrPF4lf6kP8M2cn",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "appointment:P1001",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1648,
        0
      ],
      "id": "f7fa0187-6351-4e07-8646-e0d77dcc189e",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "qPKIpOkyLtPThvTp",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"type\":\"\",\n  \"desc\":\"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        192
      ],
      "id": "f0756aa7-bbd9-47a5-828e-d1a1edce8af5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Basic LLM Chain').item.json.output.desc }}",
                    "rightValue": "appointments",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "81c6f723-90a0-48ee-9539-09d326edec43"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22ed961e-bf30-432e-836e-5c586f4b744f",
                    "leftValue": "={{ $('Basic LLM Chain').item.json.output.desc }}",
                    "rightValue": "patient",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1168,
        0
      ],
      "id": "160f5560-109d-41b3-be53-db1e88d525f3",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "patient:P1001:summary",
        "keyType": "string",
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1648,
        176
      ],
      "id": "fa6d1630-673e-4560-a919-8ee2e5216cdc",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "qPKIpOkyLtPThvTp",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Basic LLM Chain').item.json.output.desc }}",
                    "rightValue": "Patient_lab_record",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "81c6f723-90a0-48ee-9539-09d326edec43"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22ed961e-bf30-432e-836e-5c586f4b744f",
                    "leftValue": "={{ $('Basic LLM Chain').item.json.output.desc }}",
                    "rightValue": "Patient_demographic_record",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1152,
        -160
      ],
      "id": "449fa06b-1edf-448a-89dd-07f34df290a8",
      "name": "Switch2"
    },
    {
      "parameters": {
        "collection": "Patient_demographic_records",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        1648,
        -176
      ],
      "id": "b49bb07e-39f5-4b37-9de9-06460ab0ed6c",
      "name": "Find documents1",
      "credentials": {
        "mongoDb": {
          "id": "NPrPF4lf6kP8M2cn",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".txt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        320,
        656
      ],
      "id": "e188819f-6afe-48d9-82a4-1bf504534605",
      "name": "Upload your file here",
      "webhookId": "22d36123-ed31-4065-9bf8-5e0c53019fa5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1136,
        368
      ],
      "id": "cebf3918-33bc-4c0f-a4da-704f4484dc17",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "insert",
        "authentication": "chromaCloudApi",
        "chromaCollection": {
          "__rl": true,
          "value": "HCL",
          "mode": "list",
          "cachedResultName": "HCL"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreChromaDB",
      "typeVersion": 1.3,
      "position": [
        688,
        656
      ],
      "id": "4c4f35f7-fbad-4d36-ae6c-87b6d0c9f2ec",
      "name": "Chroma Vector Store",
      "credentials": {
        "chromaCloudApi": {
          "id": "3aCZpHIayVtssJvy",
          "name": "ChromaDB Self-Hosted account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your data from chroma vector store",
        "authentication": "chromaCloudApi",
        "chromaCollection": {
          "__rl": true,
          "value": "HCL",
          "mode": "list",
          "cachedResultName": "HCL"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreChromaDB",
      "typeVersion": 1.3,
      "position": [
        1232,
        656
      ],
      "id": "6caa9367-5e0f-46c5-b7bf-d2778d248b50",
      "name": "Chroma Vector Store1",
      "credentials": {
        "chromaCloudApi": {
          "id": "3aCZpHIayVtssJvy",
          "name": "ChromaDB Self-Hosted account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        896
      ],
      "id": "16a635ca-918c-419c-9dc4-9f97141f5b11",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "tSgBqL9ts8qzuU8a",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        784,
        944
      ],
      "id": "7ba3ba14-2617-4361-ad7f-209048558168",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1088,
        576
      ],
      "id": "9379607d-e8cf-4a1e-a6a3-773362ec4645",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "SEPUxXyLRCWJuzRq",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=data:{{ JSON.stringify($json, null, 2) }}\nusing this data answer the user query:{{ $('When chat message received').item.json.chatInput }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2592,
        -64
      ],
      "id": "c2f72ea3-eaa6-4666-9a6b-94c3ddb79ce9",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2288,
        -112
      ],
      "id": "bc502ede-962c-44c6-b2b7-21fbbc64d413",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2592,
        128
      ],
      "id": "ba9acc03-27a0-44f1-b72a-76ebb48eac5a",
      "name": "Ollama Model1",
      "credentials": {
        "ollamaApi": {
          "id": "SEPUxXyLRCWJuzRq",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chroma Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Chroma Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        []
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Find documents1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c262cf65-a781-42b3-be53-8c648132b884",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8a1f92d65f25f4aeeb2d8e3c233a45563426f0492c229e96c16d4f584d11b09"
  },
  "nodeGroups": [],
  "id": "US2oXdelCMUDWFsf",
  "tags": []
}