Darshan/CACHE RAG.json
{
  "name": "CACHE RAG",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".txt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        416,
        352
      ],
      "id": "f7a656ec-83fc-4ed2-a089-57a9def662b7",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1152,
        -16
      ],
      "id": "579aed76-9644-42d1-ac13-7369059ff1c2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        928,
        -16
      ],
      "id": "9c30de61-935a-471f-ae88-ec5f67beeefc",
      "name": "When chat message received",
      "webhookId": "4091fa09-fb9a-4039-9411-7104d213f601"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        512
      ],
      "id": "940c55e3-2b00-4c36-874f-ad7a6ba01891",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "tSgBqL9ts8qzuU8a",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "authentication": "chromaCloudApi",
        "chromaCollection": {
          "__rl": true,
          "value": "HCL",
          "mode": "list",
          "cachedResultName": "HCL"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreChromaDB",
      "typeVersion": 1.3,
      "position": [
        624,
        352
      ],
      "id": "8f142542-7646-4d90-ae12-bb57574652e5",
      "name": "Chroma Vector Store",
      "credentials": {
        "chromaCloudApi": {
          "id": "3aCZpHIayVtssJvy",
          "name": "ChromaDB Self-Hosted account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        608
      ],
      "id": "6f65904b-d5d4-4068-8c52-d457ceb95629",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with chroma vector store",
        "authentication": "chromaCloudApi",
        "chromaCollection": {
          "__rl": true,
          "value": "HCL",
          "mode": "list",
          "cachedResultName": "HCL"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreChromaDB",
      "typeVersion": 1.3,
      "position": [
        1248,
        400
      ],
      "id": "ec1fed76-d192-4eaa-b593-faa2b4d9615b",
      "name": "Chroma Vector Store1",
      "credentials": {
        "chromaCloudApi": {
          "id": "3aCZpHIayVtssJvy",
          "name": "ChromaDB Self-Hosted account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        928,
        240
      ],
      "id": "c38f8f58-1372-4adc-9ec2-bde70949b24e",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "SEPUxXyLRCWJuzRq",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.6,
      "position": [
        1120,
        272
      ],
      "id": "77284598-4ddf-459b-b2b3-52b32b1f7696",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "qPKIpOkyLtPThvTp",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Chroma Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Chroma Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Chroma Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8241da92-edb0-46a6-8ea3-d37668fb18fb",
  "meta": {
    "templateId": "rag-starter-template",
    "templateCredsSetupCompleted": true,
    "instanceId": "f8a1f92d65f25f4aeeb2d8e3c233a45563426f0492c229e96c16d4f584d11b09"
  },
  "nodeGroups": [],
  "id": "JBNmqqShk6jj4dJV",
  "tags": []
}